.content-ridlle{
    width: 50%;
    height: 60%;
    border: 1px #C7AE6A solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* gap: 30px; */
    padding: 10px;
    padding-top: 3%;
    
}

.question-level{
    width: 90%;
    display: flex;
    justify-content: space-between;
    color: #C7AE6A;
    /* border: 1px #C7AE6A solid; */
    
}

.level{
    font-weight: 100;
    font-size: 20px;
    /* width: 20%; */
    /* border: 1px #C7AE6A solid; */
    /* height: 60%; */
    
}

.inp-answer{
    width: 90%;
    height: 10%;
    border: 1px #C7AE6A solid;
    
}

.btn-answer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 10%;
    border: 1px #C7AE6A solid;
    background-color: #C7AE6A;
    font-size: 25px;
    font-weight: 600;
    border-radius: 20px;
    
}
.btn-answer:hover{
    cursor: pointer;
}

.answer-msg{
    color: red;
    font-size: 20px;
}

@media screen and (max-width: 600px){
    .content-ridlle{
        width: 90%;
        height: 30%;
        gap: 1%;
    }

    .question-level h1{
        font-size: 25px;
    }

    .inp-answer{
        height: 20%;
        padding: 10px;
    }

    .btn-answer{
        width: 50%;
        height:15%;
        font-size: 17px;
    }
}