.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    border: 1px #C7AE6A solid;
    padding: 0 2%;
    color: #C7AE6A;
}

.left-header {
    display: flex;
    /* justify-content: e; */
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 50%;
    gap: 5px;

}

.right-header {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 50%;
    gap: 3%;

}

.all-riddles:hover {
    cursor: pointer;
}

.userName-head {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55%;
    min-width: 10%;
    border: 1px #C7AE6A solid;
    border-radius: 30px;
}

.home-header {
    width: 10%;
    display: flex;
    align-items: center;
    gap: 3px;
    color: #C7AE6A;
    text-decoration-line: none;
}

.img-home {
    width: 50%;
}

.logOut {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55%;
    width: 10%;
    border: 1px #C7AE6A solid;
    border-radius: 30px;
}

.logOut:hover {
    cursor: pointer
}

/* for phones */
@media screen and (max-height: 900px) and (max-width: 800px) {
    .left-header{
        width: 40%;
        gap: 20px;
    }
    .right-header{
        width: 60%
    }
    .img-home {
        width: 25px
    }
    
    .userName-head {
        border: 0;
        
    }
    .logOut {
        width: 60px;
        border: 0;
        /* min-width: 100px; */
        /* height: 40%; */

    }
}
