.contentRiddles {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
}

.table {
    width: 95%;
    height: 80%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    border: 1px black solid;
    gap: 10px;

}

.head-table {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-weight: 800;
    color: #C7AE6A;
    font-size: 25px;
}

th,
td,
.u-d {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    min-height: 60px;
    border: 1px black solid;
    padding: 5px;

}

.content-table {
    display: flex;
    justify-content: space-around;
    border: 1px black solid;
    color: rgb(255, 162, 0);
    font-size: 16px;

}

.error {
    color: red;
}

.u-d {
    display: flex;
    justify-content: space-around;
}

.icon {
    width: 20%;
    height: 60%;
}

.icon:hover {
    cursor: pointer;
}

.btn{
    width: 100%;
    height:30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 40%;
    background-color: #C7AE6A;
    color: #113F61;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
}


.btn-add:hover{
    cursor: pointer;
    /* background-color: #113F61;
    border: 2px #C7AE6A solid;
    color: #C7AE6A; */
}