.welcomePage{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1%;

}

.welcome {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.img-welcome {
    width: 45%;
    height: 70%;
}

.link-enter {
    width: 15%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: #C7AE6A;
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: #113F61;
    text-decoration-line: none;

}

.link-enter:hover {
    transform: translateY(-3px);
    cursor: pointer;

}